.background-img {
  background: url("images/background-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 92vh;
  width: 100%;
  height: auto;

}
.frame {
  background-color: #282727;
 height: 30px;
}

.hidden {
  display: none;
}
img {
  height: 250px;
  cursor: pointer;
}
.gif{
  height: 150px;
}
.trainer1 {
  position: relative;
  left: 290px;
}
.trainer2 {
  position: relative;
  left: 345px;
}
.trainer3 {
  position: relative;
  left: 425px;
}
.title {
  font-family: Audiowide;
  font-size: 46px;
  color: #FFFFFF;
  width: 0;
  word-wrap: break-word;
  text-shadow: 0px 6px 15px rgba(0,0,0,0.8)
}
.pokemonModul{
  width: 900px !important;
  max-width: 900px;
  
}
h2{
  text-align: center;
  font-size:2em;
  font-family: 'Nova Square';
}
.box {
 background: rgb(157,148,165, .8);
 border: 2px solid #545454;
 border-radius: 45px;
 max-width: 85%;
 position: relative;
 top: 30%;
 min-height: 300px;
 margin-left: 4px;

}
.box2 {
  background: rgb(157,148,165, .8);
  border: 2px solid #545454;
  border-radius: 45px;
  position: relative;
  top: 25%;
  max-width: 80%;
}
.md-audiowide {
font-family: Audiowide;
font-size: 15px;
color: #FFFFFF;
letter-spacing: 1.7px;
text-shadow: 0px 4px 12px rgba(0,0,0,0.7)

}
.md-novasq-black {
font-family: 'Nova Square';
font-size: 14px;
color: black;
text-shadow: 0px 3px 15px rgba(0,0,0,0.4)
}

.lg-novasq-white {
font-family: 'Nova Square';
font-size: 22px;
color: black;
text-shadow: 0px 4px 15px rgba(0,0,0,0.6)
}
.img-position {
  position: absolute;
  left: 25%;
  top: 60%;
}
.pokemonModal{
  width:60vw;
 }
.modal-dialog{
  margin-left: 24%;
}
.modal-body{
  display: flex;
    justify-content: center;
}
.open-sans {
  font-family: Open-Sans;
}

.stat{
  justify-content: center;
  font-family: 'Nova Square';
  font-size: 1.5em;
  
}
.ourStats{
  font-family: 'Nova Square';
  justify-content: left;
  font-size:3em;
}
/* loading CSS for possible loading animation while api loads */
/* .modal {
  display:    none;
  position:   fixed;
  z-index:    2;
  top:        0;
  left:       0;
  height:     100%;
  width:      100%;
  background: url('http://i.stack.imgur.com/FhHRx.gif') 
              50% 50% 
              no-repeat;
} */

/* When the body has the loading class, we turn
 the scrollbar off with overflow:hidden */
/* body.loading .modal {
  overflow: hidden;   
} */

/* Anytime the body has the loading class, our
 modal element will be visible */
/* body.loading .modal {
  display: block;
} */


@media only screen and (max-width: 900px) {
    .title {
        word-wrap: normal;
        width: auto;
    }
    .box {
      top: 10%;
    }
    .box2 {
      top: 15%;
      margin: 0 auto;
    }
    .img-position {
     position: absolute;
     top: 40vh;
    }
    img {
      height: 225px;
      cursor: pointer;
    }
}

@media only screen and (max-width: 650px) {
   .title {
      font-size: 38px;
   }
    .box {
      top: 5%;
      min-height: 150px;
      max-width: 100%;
      margin-left: 0;
    }
    .box2 {
      width: 60vw;
      top: 10%;
     margin: 0 auto;
    }
    .img-position {
     position: absolute;
     top: 65vh;
     left: 7vh;
    }
    img {
      height: 110px;
      cursor: pointer;
    }
    .centered {
      text-align: center;
    }
    /* .modal-dialog{

    } */
}

