.background-img {
  background: url("images/background-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 680px;
}
.frame {
  background-color: #282727;
  height: 35px;
}
img {
  height: 250px;
  width: 200px;
}
.trainer1 {
  position: relative;
  top: 390px;
  left: 270px;
}
.trainer2 {
  position: relative;
  top: 390px;
  left: 320px;
}
.trainer3 {
  position: relative;
  top: 390px;
  left: 360px;
}
<<<<<<< HEAD

=======
>>>>>>> master
.title {
  font-family: Audiowide-Regular;
  font-size: 46px;
  color: #FFFFFF;
  position: relative;
  width: 0;
  word-wrap: break-word;
  text-shadow: 0px 6px 15px rgba(0,0,0,0.8)
}
<<<<<<< HEAD






























.modul-dialog{
  width: 100% !important
}
=======
>>>>>>> master
