.background-img {
  background: url("images/background-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 60%;
}
.frame {
  background-color: #282727;
  height: 30px;
}
.hidden {
  display: none;
}
img {
  height: 250px;
  cursor: pointer;
}
.gif{
  height: 150px;
}
.trainer1 {
  position: relative;
  left: 290px;
}
.trainer2 {
  position: relative;
  left: 345px;
}
.trainer3 {
  position: relative;
  left: 425px;
}
.title {

  font-family: 'Audiowide-Regular';

  font-family: Audiowide;

  font-size: 46px;
  color: #FFFFFF;
  width: 0;
  word-wrap: break-word;
  text-shadow: 0px 6px 15px rgba(0,0,0,0.8)
}
.pokemonModul{
  width: 900px !important
}
.box {
 background: rgb(157,148,165, .8);
 border: 2px solid #545454;
 border-radius: 45px;
 max-width: 85%;
 position: relative;
 top: 30%;
 min-height: 300px;
}
.box2 {
  background: rgb(157,148,165, .8);
  border: 2px solid #545454;
  border-radius: 45px;
  position: relative;
  top: 25%;
  max-width: 80%;
}
.md-audiowide {
font-family: Audiowide;
font-size: 15px;
color: #FFFFFF;
letter-spacing: 1.7px;
text-shadow: 0px 4px 12px rgba(0,0,0,0.7)

}
.md-novasq-black {
font-family: 'Nova Square';
font-size: 14px;
color: black;
text-shadow: 0px 3px 15px rgba(0,0,0,0.4)
}

.lg-novasq-white {
font-family: 'Nova Square';
font-size: 22px;
color: black;
text-shadow: 0px 4px 15px rgba(0,0,0,0.6)
}
.img-position {
  position: absolute;
  left: 25%;
  top: 60%;
}
.pokemonModal{
  width:1000px;
 }
.modal-dialog{
  margin-left: 24%;
}
.open-sans {
  font-family: Open-Sans;
}
